* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #ced7d8;
}

.container {
	max-width: 900px;
	margin: auto;
}

/* Main */
#main {
	display: flex;
	padding-top: 2.5rem;
	justify-content: space-between;
}

#main > div {
	width: calc(50% - 20px);
	height: 500px;
	color: #f5f0e1;
	background-color: #1e3d59;
}

#main > div > h2 {
	text-align: center;
	padding-top: 0.50rem;
	padding-bottom: 0.25rem;
}

#main > div > div > h2 {
	text-align: center;
	padding-top: 0.50rem;
	padding-bottom: 0.25rem;
}

/* To-Do List */
.to-do-list {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	height: 80%;
}

.to-do-list-main {
	padding-top: 0.5rem;
	max-height: 110%;
	overflow: scroll;
}

.to-do-list-item {
	display: flex;
	justify-content: space-between;
	height: 10%;
	font-size: 1.25rem;
	padding-top: 1.5rem;
}

.to-do-list-item-icon {
	color: #ffffff;
}

/* To-Do List Add */
.right-side-child {
	height: 50%;
}

.to-do-list-add {
	align-items: center;
	padding-top: 2.5rem;
	width: 100%;
	height: 80%;
}

.to-do-list-add > form {
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.to-do-list-add-todo {	
	padding-left: 0.5rem;
	border-radius: 0.25rem;
	width: 100%;
	height: 2.5rem;
	outline: none;
}

.to-do-list-add-todo-date {
	padding-left: 0.5rem;
	border-radius: 0.25rem;
	width: 75%;
	height: 2.5rem;
	color: #a07575;
	outline: none;
}

.to-do-list-add > form > button {
	background-color: #f47a60;
	width: 25%;
	height: 25%;
	border-radius: 0.25rem;
	margin-left: 75%;
	margin-top: 10%;
	outline: none;
}

/* To-Do List Search */
.to-do-list-search {
	align-items: center;
	padding-top: 2.5rem;
	width: 100%;
	height: 80%;
}

.to-do-list-search > form {
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.to-do-list-search-todo {	
	padding-left: 0.5rem;
	border-radius: 0.25rem;
	width: 100%;
	height: 2.5rem;
	outline: none;
}